<script src="http://localhost:5000/socket.io/socket.io.js"></script> <!--for socket connection-->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/emoji-picker-element@1.10.1/database.js" type="module"></script>
<script src="https://cdn.jsdelivr.net/npm/emoji-picker-element@1.10.1/picker.js" type="module"></script>
<!--for emoji picker-->
<script src="./script/script.js"></script>

</body>
</html>