<%- include("./partials/header.ejs") %>

    <div id="change-password">
        <form class="passoword-form" action="/changePassword" method="post">
            <h1>change Password</h1>
            <input type="password" name="oldPassword" placeholder="Enter previous passoword" required>
            <input type="password" name="newPassword" placeholder="Enter new passoword" required>
            <input type="password" name="CheckPassword" placeholder="Reconfirm passoword" required>
            <input type="hidden" name="username" value=<%= user %>>
            <% if (locals.error) { %>
             <p style="color: rgb(170, 1, 1);"><%= error %></p>
            <% } %>
            <button type="submit">Change</button>
        </form>
    </div>
    
<%- include("./partials/footer.ejs") %>