<%- include("./partials/header.ejs") %>

    <div id="change-pp">
        <form action="/changepp" method="post" enctype="multipart/form-data">
            <h1>change Profile Picture</h1>
            <label for="new-picture" class="choose-file">
                choose file
                <input type="file" name="picture"  id="new-picture" hidden onchange=previewImage()>
            </label>
            <img src="" alt="new-pp" id="pp">
            <input type="hidden" name="username" value=<%= user %>>
            <% if (locals.error) { %>
             <p style="color: rgb(170, 1, 1);"><%= error %></p>
            <% } %>
            <button type="submit" id="submit">Done</button>
        </form>
    </div>

<%- include("./partials/footer.ejs") %>